<main class='content'>
	<div class='grid'>
		<div class='grid__item viewbook show w-2 h-3'>
			<div class='grid__content'>
				<div class='grid__header'>
					Viewbook
				</div>
				<div class='grid__description'>
				</div>
			</div>
		</div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item roosegaarde show w-2 h-1'>
			<div class='grid__content'>
				<div class='grid__header'>
					Roosegaarde
				</div>
			</div>
		</div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item olympic show'>
			<div class='grid__content'>
				<div class='grid__header'>
					Olympic show
				</div>
			</div>
		</div>
		<div class='grid__item jorisvoorn show w-1 h-3'>
			<div class='grid__content'>
				<div class='grid__header'>
					Joris Voorn
				</div>
			</div>
		</div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item ripperton show w-1 h-2'>
			<div class='grid__content'>
				<div class='grid__header'>
					Ripperton
				</div>
			</div>
		</div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item olympic show w-2 h-1'>
			<div class='grid__content'>
				<div class='grid__header'>
					Olympic show
				</div>
			</div>
		</div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item'><div class='grid__content'></div></div>
		<div class='grid__item'><div class='grid__content'></div></div>
		</div>
</main>