<footer class='footer'>
	<p class='footer__description'>&copy; Paul Swagerman</p>
	<ul class='footer__social-list'>
		<li class='footer__social-item'>
			<a class='footer__social-link fa fa-facebook' href=''></a>
		</li>
		<li class='footer__social-item'>
			<a class='footer__social-link fa fa-twitter' href=''></a>
		</li>
	</ul>
</footer>