<section class='header'>
	<header class='header__logo'>
		<h1 class='header__title'>
			<a class='header__link' href='/'>Paul Swagerman</a>
		</h1>
		<p class='header__description'>Visual &amp; Interaction Designer</p>
	</header>
	{{> helpers/navigation}}
</section>