<section class='header'>
	<header class='header__logo'>
		<h1 class='header__title'>Paul Swagerman</h1>
		<p class='header__description'>Visual &amp; Interaction Designer<p>
	</header>
	{{> helpers/navigation}}
</section>