@import "base/normalize";
@import "base/reset";
@import "helpers/typesettings";

body{
	font-family: 'Droid Serif', serif;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 // @include debug-vertical-alignment();
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address{
	margin: 0;
	padding: 0;
}

p{
	margin-bottom: emRhythm($base-line-multi);
}

html {
  box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html.js{
	position: fixed;
}