.footer{
	padding: 0 $box-padding-extended;
	margin: 0 auto;
	color: $text-color-light;
}

.footer__description{
	display: inline;
}

.footer__social-list{
	display: inline;
}

.footer__social-item{
	display: inline;
	margin-right: 0.2sem;

	@include link();
}

.footer__social-link{
}