.header{
	text-align: justify;
	padding: 2em $box-padding;

	// http://www.barrelny.com/blog/text-align-justify-and-rwd/
	&:after{
		content: '';
    	display: inline-block;
    	width: 100%;
	}
}

.header__logo{
	display: inline-block;
}

.header__title,
.header__description{
	font-size: 1em;
	display: inline-block;
}

.header__title{
	font-weight: 600;
	margin-right: 1em;
}

.header__description{
}

// Module specific layout
.header .navigation{
	display: inline-block;
}