.grid{
	overflow: hidden;
}

.box__item{
	float: left;
	width: 25%;
	height: 25%;
	position: relative;
	visibility: hidden;

  	// http://www.mademyday.de/css-height-equals-width-with-pure-css.html
	&:before {
	  	display: block;
	  	content: "";
	  	width: 100%;
	  	padding-top: $box-ratio;
	}

	&.show{
		visibility: visible;
	}
}

.box__content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: grey;
	z-index: 1;
	border: thin solid white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	padding: 1em $box-padding;
  	text-decoration: none;
  	color: inherit;

	.w-2 &{
		width: 200%;
	}

	.w-3 &{
		width: 300%;
	}

	.w-4 &{
		width: 400%;
	}

	.h-2 &{
		height: 200%;
	}

	.h-3 &{
	height: 300%;
	}

	.h-4 &{
	height: 400%;
	}
}

.box__header{
  color: black;
  font-weight: 600;
}

.box__description{
  color: black;
  display: none;
  margin-top: 1em;

	.box__content:hover &{
    display: block;
  }
}