// Base
$background-color:					white;
$text-color:						grey;
$text-color-light:					lightgrey;
$text-color-dark:					black;
$link-color:						inherit;
$transition-duration:				0.4s;
$box-padding:						2em;
$box-padding-extended:				25%;

// See http://www.mademyday.de/css-height-equals-width-with-pure-css.html
$box-ratio:							85%;
$box-ratio-small-screen:			50%;

// https://github.com/ianrose/typesettings
$base-vertical-unit: 				5px;
$base-line-multi: 					4;
$base-font-size: 					12px;
$ms-ratio: 							1.2;


// Responsive
// ----
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// http://sassmeister.com/gist/0614ac3971ae82925ef4
//
// Using em's in case the page get's zoomed in
// ----

$screen:       "only screen and";
$breakpoints: (
  'small'  		: '#{$screen} ( max-width: 600px )',
  'medium'  	: '#{$screen} ( min-width: 600.1px )  and ( max-width: 768px )'
);